/* Estilos generales */
:root {
    --azul: #044355;
    --verde_claro: #5db748;
    --verde_opaco: #29b090;
    --verde_oscuro: #013a4f;
    --verde_osc_transp: #013a4fcc;
    --texto: #626262;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.line-break {
    width: 100% !important;
    height: 0 !important;
    display: block;
}
/* Estilos de header */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: var(--azul);
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header .logo {
    width: 30%;
    margin-left: 30px;
    height: 100%;
    display: flex;
}
.header .logo a {
    align-self: center;
    color: white;
    text-decoration: none;
}
nav {
    width: 50%;
    height: 100%;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
nav ul li {
    list-style: none;
    width: 25%;
    height: 100%;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--verde_osc_transp);
    border-right: 1px solid var(--verde_osc_transp);
}
.activo,
nav ul li a:hover {
    background-color: var(--verde_claro);
    color: var(--verde_oscuro);
}

/* Estilos del slider */
.slider {
    max-height: 500px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    position: relative;
}
.slider img {
    object-fit: cover;
    width: 100%;
}
.slider .titulo {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--verde_osc_transp);
    padding: 5px 50px;
}
.slider .titulo a {
    color: white;
    text-decoration: none;
}
.slider .titulo a:hover {
    text-decoration: underline;
}

/* Estilos del contenido principal */
.contenedor {
    display: flex;
    flex-wrap: wrap;
}
.contenedor main {
    width: 70%;
    padding: 30px;
}
.contenedor aside {
    width: 25%;
}
main article {
    display: flex;
    margin-bottom: 30px;
    padding: 15px 10px;
    border-radius: 10px;
}
main article:hover {
    background-color: var(--verde_osc_transp);
}
main article:hover > .resumen a, 
main article:hover > .resumen {
    color: white !important;
}
.titulo-principal {
    margin: 0 0 30px;
    font-size: 30px;
    padding-left: 10px;
}
main article .portada {
    max-width: 200px;
}
main article .portada img {
    width: 100%;
    vertical-align: bottom;
}
main article .resumen {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    padding-left: 10px;
    color: var(--texto);
}
main article .resumen a {
    color: var(--texto);
    text-decoration: none;
}
main article .resumen a:hover {
    text-decoration: underline;
}
main article .resumen .datos {
    background-color: var(--verde_osc_transp);
    width: 100%;
    padding: 3px 2%;
    color: white;
}
main article .resumen .datos span {
    border-right: 1px solid var(--verde_oscuro);
    padding-right: 10px;
    margin-right: 10px;
    width: 100%;
}

/* Estilos del aside */
aside {
    padding: 30px 0;
    width: 30%;
}

aside form {
    margin: 30px 0;
    width: 100%;
}
aside .buscador {
    border-bottom: 1px solid var(--verde_osc_transp);
    padding-bottom: 30px;
}
aside section {
    width: 100%;
    border-bottom: 1px solid var(--verde_osc_transp);
}
aside section .entrada {
    width: 100%;
    display: flex;
    margin: 20px 0 30px;
    flex-wrap: wrap;
}
aside section .entrada .imagen {
    width: 30%;
}
aside section .entrada .imagen img {
    width: 100%;
    padding-right: 10px;
}
aside section .entrada a {
    color: var(--texto);
    text-decoration: none;
    width: 70%;
}
aside section .entrada a:hover {
    text-decoration: underline;
}
aside .encuesta p {
    margin-bottom: 20px;
}
aside .encuesta [type="submit"] {
    margin-top: 10px;
}

/* Estilos del foooter */
footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--azul);
    padding: 100px 0;
}
footer .logo,
footer .menu,
footer .subscripcion {
    width: 30%;
}
footer .logo {
    text-align: center;
    font-size: 40px;
    border-right: 1px solid var(--verde_claro);
}
footer .logo a {
    color: white;
    text-decoration: none;
    font-weight: 900;
}
footer .logo .eslogan {
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
}
footer .logo p img {
    max-width: 32px;
    margin: 20px 10px;
}
footer .menu {
    text-align: center;
    border-right: 1px solid var(--verde_claro);
}
footer .menu h5 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}
footer .menu ul {
    list-style: none;
}
footer .menu ul a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 10px;
}
footer .menu ul a:hover {
    text-decoration: underline;
}
footer .subscripcion {
    text-align: center;
}
footer .subscripcion h5 {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}
footer .subscripcion input[type="email"] {
    margin-bottom: 10px;
}
input[type="submit"]:hover {
    cursor: pointer;
}

/* Estilos de articulos */
.unico {
    display: block;
}
main article.unico:hover {
    background-color: #fff !important;
}
.unico .portada2 {
    text-align: center;
    margin-bottom: 20px;
}
.unico p {
    margin-bottom: 10px;
}